.navbar-brand 
{
    margin-right: 250px;
    margin-left: 200px;
}
.b1{
    
    background-image: url(/image/pheonix\ banner\ \(1\).png);
    padding: 90PX;
    background-attachment: fixed;
    
}
.phoneix{
    align-items: center;
}


